@model IEnumerable<WebSiteHome.Models.UserItemViewModels>
@{
    ViewBag.Title = "Користувачі";
    Layout = "~/Views/Shared/_GuitarLayout.cshtml";
}

@*@Styles.Render("~/Content/coreui.min.css")*@
@*<link rel="stylesheet" href="~/Content/coreui.min.css">*@


<h2>Users</h2>

<table class="table table-responsive-sm">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model)</th>
            <th>Date registered</th>
            <th>Role</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Samppa Nori</td>
            <td>2012/01/01</td>
            <td>Member</td>
            <td>
                <span class="label label-success">Active</span>
            </td>
        </tr>
        <tr>
            <td>Estavan Lykos</td>
            <td>2012/02/01</td>
            <td>Staff</td>
            <td>
                <span class="label label-danger">Banned</span>
            </td>
        </tr>
        <tr>
            <td>Chetan Mohamed</td>
            <td>2012/02/01</td>
            <td>Admin</td>
            <td>
                <span class="label label-default">Inactive</span>
            </td>
        </tr>
        <tr>
            <td>Derick Maximinus</td>
            <td>2012/03/01</td>
            <td>Member</td>
            <td>
                <span class="label label-warning">Pending</span>
            </td>
        </tr>
        <tr>
            <td>Friderik David</td>
            <td>2012/01/21</td>
            <td>Staff</td>
            <td>
                <span class="label label-success">Active</span>
            </td>
        </tr>
    </tbody>
</table>

